<div class="row center paginator-container">
    <ul class="pagination">
        {{#loop totalPages}}
            {{#if @first}}
                {{#if (strComp (sub ../page 1) 0) }}
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                {{else }}
                    <li class="waves-effect"><a href="{{../url}}?page={{sub ../page 1}}&size={{../size}}"><i class="material-icons">chevron_left</i></a></li>
                {{/if }}
            {{/if }}
                
                <li {{#if (strComp ../page @index)}}class="active"{{/if }}><a href="{{../url}}?page={{@index}}&size={{../size}}">{{@index}}</a></li>

            {{#if @last }}
                {{#if ../isLastPage }}
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                {{else }}
                    <li class="waves-effect"><a href="{{../url}}?page={{add ../page 1}}&size={{../size}}"><i class="material-icons">chevron_right</i></a></li>
                {{/if }}
            {{/if }}

        {{/loop }}
    </ul>
</div>
{{!-- <h6>{{size}}</h6>
<h6>{{page}}</h6> --}}