<div class="col s12 m6">
    <div class="card teal lighten-3">
        <div class="card-content white-text">
            <a href="/post/view/{{slug}}" class="card-title post-title black-text">
                <h4 class="center">{{title}}</h4>
            </a>
            <div class="post-author center">
                <div class="chip">
                    <img src={{ user.image }} alt="Contact Person">
                    <a href="/post/user/{{user.slug}}" class="black-text">{{ user.displayName }}</a>
                </div>
            </div>
            <h6 class="post-body black-text black-text center">{{stripTags body}}</h6>
            <div class="row post-sub-body">
                {{#if (strComp status 'public')}}
                    <i class="fas fa-book-open public-post-icon"></i>
                {{else }}
                    <i class="fas fa-lock private-post-icon"></i>
                {{/if}}
                <h6 class="post-time black-text black-text">{{formatDate createdAt 'dddd, MMMM Do YYYY, h:mm:ss a'}}</h6>
            </div>
        </div>
        <div class="card-action post-actions center">
            <a class="black-text btn grey lighten-3" href="/post/view/{{slug}}">View Post</a>
            {{#if (strComp user.slug loggedUser.slug)}}
            <a class="black-text btn grey lighten-3" href="/post/edit/{{slug}}">Edit Post</a>
            <form action="/post/{{slug}}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="black-text btn orange lighten-3"><i class="fas fa-trash-alt"></i></button>
            </form>
            {{/if }}
        </div>
    </div>
</div>