<div class="view-post-header container">
    <h2 class="center">{{post.title}}</h2>
    <div class="view-post-author-info container">
        <div class="view-post-author-name-img">
            <a class="author-img-link" href="/post/user/{{post.user.slug}}">
                <img class="circle" src="{{post.user.image}}" alt="">
            </a>
            <a class="black-text author-name-link" href="/post/user/{{post.user.slug}}">
                <h4>{{post.user.displayName}}</h4>
            </a>
            {{#if (strComp post.user.slug loggedUser.slug) }}
            <a href="/post/edit/{{post.slug}}" class="btn cyan black-text">Edit Post</a>
            {{/if}}
        </div>
        <h6 class="left-align">{{formatDate post.createdAt 'dddd, MMMM Do YYYY, h:mm:ss a'}}</h6>
    </div>
</div>
<div class="view-post-body container">
    {{{post.body}}}
</div>
<div class="view-post-footer container">
    <a class="btn white black-text" href="/post/user/{{post.user.slug}}">More from {{post.user.firstName}}</a>
</div>